.title-global {
  font-family: Comfortaa, sans-serif;
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
  padding: 0 25px 20px;
}

@media screen and (max-width: 1100px) {
  .title-global {
    font-size: 60px;
  }
}
@media screen and (max-width: 850px) {
  .title-global {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .title-global {
    font-size: 35px;
    padding: 10px 5px;
  }
}
.galery-txt-pics, .container-fonctionnalite, .list-media, footer, .container-faq, .container-boxs, .accueil, nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
}

nav {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-nav {
  font-size: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 300;
}

nav li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: 4px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

nav li a:hover::after {
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}

.link-essai {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(45deg, darkviolet, #0f4d57);
}

.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 3%;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 950px) {
  .logo-nav {
    width: 100%;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: absolute;
    top: -5px;
    border-bottom: 1px solid #000;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
    display: none;
  }

  nav ul li {
    height: 70px;
    line-height: 70px;
  }

  .link-essai {
    margin-right: 0;
    display: none;
  }

  .responsive-nav-btn {
    display: block;
  }

  .active-nav {
    display: flex;
  }
}
.accueil {
  width: 100%;
  height: 900px;
  flex-direction: column;
  padding: 50px 0 75px;
}

.sub-title {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 1.2;
}

.accueil img {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .accueil {
    padding: 0;
    height: 700px;
  }

  .accueil img {
    width: 700px;
  }

  .sub-title {
    font-size: 27px;
  }
}
@media screen and (max-width: 950px) {
  .accueil {
    padding: 150px 0 0;
    height: 500px;
  }
}
@media screen and (max-width: 760px) {
  .accueil {
    padding: 100px 0 50px;
    height: 500px;
  }

  .accueil img {
    width: 500px;
  }

  .sub-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    padding: 75px 0 0;
    height: 400px;
  }

  .accueil img {
    width: 350px;
  }

  .sub-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .accueil img {
    width: 320px;
  }

  .sub-title {
    font-size: 18px;
  }
}
.performances-contain {
  width: 100%;
  height: 400px;
  padding: 120px 0px 170px;
  margin-bottom: 100px;
  clip-path: polygon(0 0, 45% 0, 50% 10%, 55% 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #b877aa 12.5%, #b877aa 25%, #957595 25%, #957595 37.5%, #a279ac 37.5%, #a279ac 50%, #8f74b0 50%, #8f74b0 62.5%, #8b7e99 62.5%, #8b7e99 75%, #7d788d 75%, #7d788d 87.5%, #9d8989 87.5%, #9d8989 100%);
}

.performances2-contain {
  width: 100%;
  height: 400px;
  padding: 120px 0px 170px;
  margin-bottom: 100px;
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 83%);
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #b877aa 12.5%, #b877aa 25%, #957595 25%, #957595 37.5%, #a279ac 37.5%, #a279ac 50%, #8f74b0 50%, #8f74b0 62.5%, #8b7e99 62.5%, #8b7e99 75%, #7d788d 75%, #7d788d 87.5%, #9d8989 87.5%, #9d8989 100%);
}

.separation {
  width: 300px;
  height: 2px;
  margin: 0 auto 70px;
  border: none;
  border-radius: 3px;
  background: #000;
}

.container-boxs {
  width: 100%;
}

.box {
  margin: 0 auto;
}

.box p {
  text-align: center;
}

.nb-clients {
  font-size: 85px;
  padding-bottom: 10px;
}

.type-clients {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.info-clients {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .performances-contain,
.performances2-contain {
    flex-direction: column;
    height: auto;
    margin-top: 70px;
  }

  .nb-clients {
    font-size: 75px;
  }
}
@media screen and (max-width: 760px) {
  .performances-contain {
    clip-path: polygon(0 0, 45% 0, 50% 5%, 55% 0, 100% 0, 100% 90%, 55% 90%, 50% 95%, 45% 90%, 0 90%);
  }

  .performances-contain,
.performances2-contain {
    padding: 65px 0px 150px;
  }

  .container-boxs {
    flex-direction: column;
  }

  .nb-clients {
    font-size: 50px;
  }

  .box {
    margin: 20px 0;
  }

  .separation {
    width: 30%;
    margin: 0 auto 30px;
    border: none;
  }

  .type-clients {
    font-size: 22px;
  }

  .info-clients {
    font-size: 20px;
  }
}
.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 300px;
  height: auto;
  margin: 10px auto 150px;
  flex-direction: column;
}

.questions {
  width: 100%;
  height: auto;
  margin: 5px;
}

.display-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
  position: relative;
  z-index: 100;
}

.display-panel img {
  margin-right: 10px;
  width: 25px;
  cursor: pointer;
}

.title-questions {
  margin-left: 10px;
  padding: 15px 5px;
  font-size: 25px;
}

.toggle-panel {
  padding: 0 15px;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.toggle-panel h4 {
  font-size: 21px;
  padding: 0 0 15px;
}

.toggle-panel p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 760px) {
  .container-faq {
    width: 90%;
  }

  .title-questions {
    margin-left: 10px;
    font-size: 18px;
  }
}
.container-cta {
  width: 100%;
  padding: 150px 0 100px;
  clip-path: polygon(0 17%, 100% 0, 100% 83%, 0 100%);
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.72%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #b877aa 12.5%, #b877aa 25%, #957595 25%, #957595 37.5%, #a279ac 37.5%, #a279ac 50%, #8f74b0 50%, #8f74b0 62.5%, #8b7e99 62.5%, #8b7e99 75%, #7d788d 75%, #7d788d 87.5%, #9d8989 87.5%, #9d8989 100%);
}

.txt-cta {
  font-size: 22px;
  text-align: center;
  padding: 0 10px;
}

.btn-cta {
  width: 250px;
  display: block;
  font-size: 24px;
  color: #f1f1f1;
  background-color: darkviolet;
  text-align: center;
  text-decoration: none;
  margin: 30px auto;
  padding: 20px;
  border-radius: 9999px;
  transition: all 0.2s ease-in-out;
}

.btn-cta:hover {
  font-size: 25px;
  color: #111;
  background-color: #b68dc8;
  transform: scaleX(1.05);
  transition: all 0.2s ease-in-out;
}

.social {
  width: 50%;
  margin: 4% auto;
}

@media screen and (max-width: 760px) {
  .txt-cta {
    font-size: 18px;
    text-align: center;
  }

  .btn-cta {
    width: 200px;
  }
}
footer {
  flex-direction: column;
  color: #333;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.bloc {
  width: 300px;
  margin: 0 10px 15px;
}

.bloc h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.list-media img {
  width: 40px;
  margin: 10px 10px;
}

.title-contact {
  font-size: 30px;
  color: #000;
  margin: 20px auto;
}

.sub-title-contact {
  font-weight: lighter;
  font-size: 25px;
  margin: 10px auto 30px;
  color: #000;
}

.three-contacts {
  width: 800px;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  text-align: center;
}

.box span {
  font-size: 20px;
}

.box img {
  display: block;
  margin: 0 auto 10px;
  width: 60px;
}

@media screen and (max-width: 800px) {
  .sub-title-contact {
    text-align: center;
    font-size: 20px;
    margin: 10px auto 10px;
  }

  .three-contacts {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box {
    margin: 20px auto;
    width: auto;
    text-align: center;
  }

  .box img {
    width: 45px;
  }
}
.accueil-fonctionnalites {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-fonctionnalite {
  margin: 150px 0 0px;
}

.sub-title-fonctionnalite {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 30px;
  padding: 0 10px;
}

.container-btn-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.btn-fonctionnalites {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
  width: 200px;
  margin: 0 10px;
  padding: 15px;
  background-color: darkviolet;
  text-decoration: none;
  border-radius: 20px;
}

.fantome {
  border: 2px solid darkviolet;
  color: darkviolet;
  background: transparent;
}

@media screen and (max-width: 950px) {
  .accueil-fonctionnalites {
    height: 40vh;
  }

  .title-fonctionnalite {
    font-size: 40px;
    width: 100%;
    margin: 150px 0 30px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 650px) {
  .title-fonctionnalite {
    font-size: 30px;
    width: 100%;
    margin: 150px 0 50px;
    padding: 0 10px;
  }

  .sub-title-fonctionnalite {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 30px;
    padding: 0 10px;
  }

  .container-btn-accueil {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  .btn-fonctionnalites {
    margin: 10px 0;
  }
}
@media screen and (max-width: 450px) {
  .title-fonctionnalite {
    font-size: 25px;
    margin: 40% 0 5%;
  }

  .sub-title-fonctionnalite {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px;
    padding: 0 10px;
  }

  .container-btn-accueil {
    margin: 20px 0;
  }
}
.container-fonctionnalite {
  width: 90%;
  max-width: 1700px;
  min-width: 300px;
  margin: 110px auto 200px;
  flex-wrap: wrap;
}

.box-fonctionnalite {
  width: 400px;
  display: flex;
  margin: 40px 20px;
}

.left-img {
  font-size: 50px;
  padding: 5px;
}

.right-txt :nth-of-type(1) {
  font-size: 35px;
  font-weight: 500;
}

.right-txt :nth-of-type(2) {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.newsletter {
  margin: 0;
  padding: 0;
}

.sub-title-newsletter {
  font-size: 27px;
  text-align: center;
  margin: 0 0 20px;
  padding: 0 15px;
}

form {
  width: 50%;
  margin: 50px auto 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

form input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: 1px solid #000;
  border-radius: 9999px;
}

form button {
  width: 200px;
  position: absolute;
  right: 0px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 9999px;
}

@media screen and (max-width: 950px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .sub-title-newsletter {
    font-size: 20px;
  }

  form button {
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  form input {
    font-size: 18px;
  }

  form button {
    width: 100px;
    font-size: 18px;
  }
}
.ourproducts {
  margin: 0;
  padding: 0;
}

.galery-txt-pics {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.txt-box {
  width: 500px;
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txt-box p:nth-child(1) {
  font-size: 50px;
  font-weight: lighter;
  padding: 0 0 20px 0;
}

.underline-purple {
  width: 200px;
  height: 3px;
  background-color: darkviolet;
  border: none;
  margin: 0;
}

.txt-box p:nth-child(3) {
  font-size: 35px;
  font-weight: 500;
  padding: 20px 0;
}

.txt-box p:nth-child(4) {
  font-size: 30px;
  font-weight: 300;
  padding: 0 0 20px;
}

.txt-box a {
  color: #000;
  font-size: 20px;
  padding: 20px 0;
}

.pics-box {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  background: url(../ressources/img-galerie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px;
}

@media screen and (max-width: 1300px) {
  .galery-txt-pics {
    width: 90%;
  }

  .txt-box {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .txt-box p:nth-child(1) {
    font-size: 35px;
  }

  .txt-box p:nth-child(3) {
    font-size: 25px;
  }

  .txt-box p:nth-child(4) {
    font-size: 20px;
  }

  .txt-box {
    margin: 5px;
  }

  .pics-box {
    margin: 5px;
  }
}
.title-tarifs {
  padding: 120px 0 20px;
}

.container-tarifs {
  width: 60%;
  height: auto;
  margin: 100px auto 0px;
  max-width: 1100px;
  min-width: 300px;
}

.choix-tarifs {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.choix {
  font-family: Comfortaa, sans-serif;
  width: 170px;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  letter-spacing: 3px;
  color: #fff;
  background: #333;
}

.choix:nth-child(1) {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.5);
  border-right: 1px solid #fff;
}

.choix:nth-child(2) {
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
  border-right: 1px solid #fff;
}

.choix:nth-child(3) {
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.5);
}

.choix.active-choix {
  color: #000;
  background-color: #fff;
}

.tableau {
  border-collapse: collapse;
  width: 60%;
  height: 700px;
  margin: 0 auto;
  color: #000;
  font-size: 30px;
  background-color: #d1fdfd;
}

th {
  font-size: 40px;
}

td,
th {
  width: 50%;
  padding: 8px;
  vertical-align: middle;
  border: 1px solid #333;
}

td {
  padding-left: 15px;
}

.panneau {
  display: none;
}

.panneau-active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
